.titleHeavy{
	font-size: 55px;
	font-family: 'monts-bold';
	font-weight: 700;
}

.titleMedium{
	font-size: 2.375rem;
	font-family: 'marope-bold';
	font-weight: 700;
}

.titleSemi{
	font-size: 2rem;
	font-family: 'marope';
	font-weight: 700;
}

.titleSmall {
	font-size: 1.125rem;
	font-family: 'marope';
}
.paragraphExtra{
	font-size: 80px;
	font-family: 'marope';
	font-weight: 600;
}

.paragraphHeavy{
	font-size: 24px;
	font-family: 'marope';
	font-weight: 700;
}

.paragraphNormal{
	font-size: 1.125rem;
	font-family: 'marope';
	font-weight: 400;
}

.paragraphMedium{
	font-size: 1.125rem;
	font-family: 'marope';
	font-weight: 600;
}

.cardTitle{
	font-size: 1.5rem;
	font-family: 'marope';
	font-weight: 500;
}